astroid==2.3.3
backcall==0.2.0
botocore==1.31.52
click==8.1.7
decorator==5.1.1
Django==2.2.28
docutils
Flask==2.2.5
git-remote-codecommit
ikp3db
importlib-metadata
ipython
isort==4.3.21
itsdangerous
jedi
Jinja2
jmespath
lazy-object-proxy==1.4.3
lockfile
MarkupSafe
matplotlib-inline
mccabe==0.6.1
parso
pbr
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pylint==2.4.4
pylint-django
pylint-flask
pylint-plugin-utils
pystache
python-daemon
python-dateutil
pytz
simplejson
six
sqlparse
stevedore
traitlets
typed-ast==1.4.3
typing_extensions
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
wcwidth
Werkzeug
wrapt==1.11.2
zipp
